.head{
    height: 64px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head img{
    width: 80px;
}
a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0 20px 0;
    background-color: skyblue;
    padding: 12px;
    border-radius: 5px;
}